html {
    background-color: rgba(233, 224, 195, 1);
    text-align: center;
    color: white;
    --header-color: rgb(88, 24, 1);
}

body {
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-color);
}

.stat-container {
    display: flex;
    justify-content: center;
    column-gap: 1em;
}

.roll-bar {
    background-color: lightgreen;
    border-bottom: 1px black solid;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("src/assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    /* text-align: center; */
}
